body {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: 100vh;

    background: url(../../images/bg-desktop.png) var(--color-very-dark-blue);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;

    @media only screen and (max-width: 600px) {
        background: url(../../images/bg-mobile.png) var(--color-very-dark-blue);
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

main {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: max-content;
    width: 100%;
    padding: 0 15%;

    @media only screen and (max-width: 600px) {
        flex-direction: column;
        align-items: center;
    }
}

.sr-only {
    position: absolute;
    width: 0.063rem;
    height: 0.063rem;
    overflow: hidden;
    padding: 0;
    margin: -0.063rem;
    clip: rect(0,0,0,0);
    border: 0;
    white-space: nowrap;
}

.menu, 
.info {
    margin: 2rem;
}
